* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#363636;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --black-square:#4b648a;
    --white-square:#d0dff4;
}
#main{
    display:flex; display:-webkit-flex;
}
#time-board-div{
    position:relative;
    display:flex; display: -webkit-flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
    margin:auto;
}
.player-clk-div{
    display:flex;display:-webkit-flex;
    flex-flow:row nowrap;
}
.player-div{
    color:white;
    width:100%;
    align-content:center;
    justify-content: center;
}
.clk-div{
    display:flex; display:-webkit-flex;
    color:aliceblue;
    /* font-size:1.5em;
    width:3em; */
    background-color:#121212;
    justify-content: center;
    align-self:flex-end;
}
#p1-time, #p2-time{
    background:none;
}
#board-div{
    display: flex; display: -webkit-flex;
    justify-content:center;
    margin:0;
    position:relative;
    /* padding-bottom:100%; */
}
#board{
    display:flex; display: -webkit-flex;
    flex-flow: column-reverse wrap;
    width:56vw;
    max-height:56vw;
}

.square{
    height:7vw;
    width:7vw;
}
.piece-div{
    background-position: center;
    background-repeat:no-repeat;
    background-color: rgba(0,0,0,0);
    width:100%;
    /* position:absolute; */
    background-size: contain;
    -webkit-user-drag: element;
    user-select: none;
    cursor:move; cursor:-moz-grab; cursor:-webkit-grab;
}
.black-pawn{
    background-image: url("blackpawn.svg");
}
.black-rook{
    background-image: url('blackrook.svg');
}
.black-knight{
    background-image: url('blackknight.svg');
}
.black-bishop{
    background-image: url('blackbishop.svg');
}
.black-queen{
    background-image: url('blackqueen.svg');
}
.black-king{
    background-image: url('blackking.svg');
}
.white-pawn{
    background-image: url('whitepawn.svg');
}
.white-rook{
    background-image: url('whiterook.svg');
}
.white-knight{
    background-image: url('whiteknight.svg');
}
.white-bishop{
    background-image: url('whitebishop.svg');
}
.white-queen{
    background-image: url('whitequeen.svg');
}
.white-king{
    background-image: url('whiteking.svg');
}


.white{
    background-color: var(--white-square);
}
.black{
    background-color: var(--black-square);
}

@media (orientation: landscape) {
    #time-board-div{
        width:80vh;
    }
    .player-div{
        font-size:5vh;
    }
    .clk-div{
        font-size:5vh;
        width: 12vh;
    }
    .piece-div {
        font-size:7vh;
    }
    
    #board-div{
        /* margin:10vh 0; */
        /* padding-bottom:100%; */
    }
    #board{
        width:80vh;
        max-height:80vh;
    }
    
    .square{
        height:10vh;
        width:10vh;
    }
  }
  
  @media (orientation: portrait) {
    #time-board-div{
        width:56vw;
    }
    .player-div{
        font-size:2vw;
    }
    .clk-div{
        font-size:2vw;
        width: 5vw;
    }
    .piece-div{
        font-size:5vw;
    }
    
    #board-div{
        /* margin:10vh 0; */
        /* padding-bottom:100%; */
    }
    #board{
        width:56vw;
        max-height:56vw;
    }
    
    .square{
        height:7vw;
        width:7vw;
    }
  }