body,html{
    font-family: 'Poppins', sans-serif;
    height:100%;
    background: rgba(0,0,0,1);

    background-image: url("tree2blur.JPG");
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    
   margin: 0px;
   padding: 0px;
}

:root{
  --headercolor: aliceblue;
  --textcolor: #eff7ba;
  --linkcolor: #ffe18f;

}

#main{
  display:flex; display:-webkit-flex;
  flex-direction:column;
  align-content:center;
  width:100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Cormorant', serif;
    text-align:center;
    margin:auto;
    color:aliceblue;
}

#navbar{
    z-index:1;
    background-color:#383734;
    background-image: url("wall-crop.png");
    background-size: cover;
    background-repeat: no-repeat;

    opacity:0.4;

    display:flex; display:-webkit-flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    scroll-behavior: smooth;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 40px;
    transition: opacity 0.5s; -webkit-transition: opacity 0.5s;
}
#navbar:hover{
  /* animation: makeOpaque 0.5s; */
  opacity: 1;
  transition:opacity .5s; -webkit-transition: opacity 0.5s;
}
#filler1{
  background-image: url("collosal.jpg");
  padding-top:100px;
  margin:0;
}
#filler2{
  background-image: url("attackreiner.jpg");
}
#filler3{
  background-image:url("finalseason.jpg");
  padding-top:0;
}

.parallax{
    /* Set a specific height */
    padding:0;
    margin:0;

    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
  color:var(--linkcolor);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

#img-div{
  display:flex; display: -webkit-flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  background: rgba(0, 0, 0, 1);
  padding: 10px;
  
  margin:auto;
  max-width:75%;
  min-width:500px;
 
}

#image{
  width:100%;
  max-width: 100%;
  height:auto;
  min-width: 60%;

  margin:auto;
  animation: fadeIn 1s linear /*iteration-count direction fill-mode*/;
  -webkit-animation: fadeIn 1s linear;
}

#img-caption{
  text-align:right;
  font-size:20px;
  color:aliceblue;
}

#title{
  position:absolute;
  align-self: center;

  /* font-size:2.1vw; */

  bottom:155px;
  text-align: center;

  letter-spacing: 1rem;
  animation: fadeInDelayDown 1.5s linear;
  -webkit-animation: fadeInDelayDown 1.5s linear;
}

#title-line{
  position:absolute;
  align-self:center;

  /* font-size: 2vw; */

  width:350px;
  height:4px;

  bottom: 157px;
  animation:fadeInDelayDown 1.5s linear;
  -webkit-animation: fadeInDelayDown 1.5s linear;
}


.title-desc{
  display:flex; display: -webkit-flex;
  position:absolute;
  align-self:center;

  bottom:125px;

  animation: fadeInDelayUp 1.9s linear;
  -webkit-animation: fadeInDelayUp 1.9s linear;
  font-size:large;
  letter-spacing: 0.85rem;
}

.hr-sect {
    display: flex;  display:-webkit-flex;
    flex-basis: 100%;
    letter-spacing: 1em;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.7);
    height: 10px;
    font-size: 0px;
    line-height: 1px;
    margin: 0px 8px;
}

#tribute-link{
    text-decoration: solid;
}

#tribute-info{
    margin: 0;
    max-width:100%;
    padding:0;
    color:var(--textcolor);
    font-size:large;
    margin: auto;
    background: rgba(0, 0, 0, 0.65);
}

#lore-sect{
  max-width:100%;
}

.ability-name{
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 10px 0 18px 0;
  font-size: x-large; 
}

.ability-desc{
  display:flex; display:-webkit-flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap:wrap;
  /* align-content: center; */
  justify-content:space-evenly;
  margin: 0 120px 60px
}

/* .ability-desc.left-img{
}
.ability-desc.right-img{
} */

.ability-gif-div{
  /* display:block; */

  display: flex; display:-webkit-flex;
  width:100%;
  max-width:600px;
  /* min-width:50%; */
  height:auto;

  justify-content:center;
}

.ability-img{
  width:100%;
  max-width:39.1vw;
  /* min-width:50%; */
  max-height: 22.026vw;
}

.static-gif{
  position:absolute;
  width:100%;
  max-width: 39.1vw;
  /* min-width:50%; */
  /* height:auto; */
  height:auto;
}
.static-gif:hover{
  opacity:0;
}

.ability-p{
  max-width:29.1vw;
  min-width:300px;
  height:auto;
  /* padding: 0 20px 0 60px; */
}


.spoiler{
  color: var(--textcolor);
  background-color: var(--textcolor);
}

.spoiler:hover{
  /* background: rgba(0, 0, 0, 0.5); */
  animation: spoilerUncover 1s linear 0s;
  background:rgba(0,0,0,0);
}

#footer{
  display:flex;
  padding: 50px 0 50px 0;
  bottom:0px;
  width:100%;
  background-color: #383734;
}
#footer span{
  color:var(--textcolor);
  text-align: center;
  font-size: smaller;
  margin:auto;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@keyframes makeOpaque{
  0%{opacity:0.3;}
  100%{opacity:1;}
}

@keyframes spoilerUncover{
  0%{background-color: var(--textcolor);}
  100%{background-color: rgba(0,0,0,0);}
}

@keyframes fadeInDelayDown{
  0%{opacity:0;}
  50%{
    opacity:0;
    transform: translateY(-20px);
    }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeInDelayDown{
  0%{opacity:0;}
  50%{
    opacity:0;
    -webkit-transform: translateY(-20px);
    }
  100%{
    opacity:1;
    -webkit-transform: translateY(0px);
  }
}

@keyframes fadeInDelayUp{
  0%{opacity:0;}
  70%{
    opacity:0;
    transform: translateY(10px);
    }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeInDelayUp{
  0%{opacity:0;}
  70%{
    opacity:0;
    -webkit-transform: translateY(0px);
    }
  100%{
    opacity:1;
    -webkit-transform: translateY(20px);
  }
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes slideUp {
      0%{transform: translateY(-40px);}
      100%{transform: translateY(0px);}
  }
  @-moz-keyframes slideUp {
    0%{-moz-transform: translateY(-40px);}
    100%{-moz-transform: translateY(0px);}
}
    @-webkit-keyframes slideUp {
    0%{-webkit-transform: translateY(-40px);}
    100%{-webkit-transform: translateY(0px);}
}
    @-o-keyframes slideUp {
    0%{-o-transform: translateY(-40px);}
    100%{-o-transform: translateY(0px);}
}
    @-ms-keyframes slideUp {
    0%{-ms-transform: translateY(-40px);}
    100%{-ms-transform: translateY(0px);}
}

@keyframes slideDown {
    0%{transform: translateY(40px);}
    100%{transform: translateY(0px);}
}
@-moz-keyframes slideDown {
  0%{-moz-transform: translateY(40px);}
  100%{-moz-transform: translateY(0px);}
}
  @-webkit-keyframes slideDown {
  0%{-webkit-transform: translateY(40px);}
  100%{-webkit-transform: translateY(0px);}
}
  @-o-keyframes slideDown {
  0%{-o-transform: translateY(40px);}
  100%{-o-transform: translateY(0px);}
}
  @-ms-keyframes slideDown {
  0%{-ms-transform: translateY(40px);}
  100%{-ms-transform: translateY(0px);}
}