* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#bg-canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  background: #333333;
}

#main {
  position: relative;
}

#main #home {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  place-items: center;
  background-color: none;
}

#main #home .container {
  max-width: 700px;
}

#main #home .container #greeting {
  color: #e3e8eaff;
  font-weight: 600;
}

#main #home .container #description {
  color: white;
}

#main #home .container .xl-text {
  font-size: 5em;
}

#main #home .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #9ba8aeff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#main #home .link-container a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

#main .links-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (1fr)[auto-fill];
      grid-template-rows: repeat(auto-fill, 1fr);
}

#main .links-container .link-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .links-container .link-section .container .canvas-div {
  width: clamp(300px, 100%, 1000px);
  height: clamp(300px, 100%, 1000px);
}

#main .links-container .link-section .container .canvas-div .img-container {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 2px solid #ffffff66;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  cursor: pointer;
}

#main .links-container .link-section .container .canvas-div .img-container:hover {
  background-color: #495054ff;
}

#main .links-container .link-section .container .canvas-div .img-container .overlay {
  background-color: #853d8588;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#main .links-container .link-section .container .canvas-div .img-container .hide {
  opacity: 0;
}

#main .links-container .link-section .container .canvas-div .img-container .c-img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  place-self: center;
}

#main .links-container .link-section .container .portfolio-link {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: #e3e8eaff;
  font-size: 1.4em;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .links-container .link-section .container .portfolio-link:hover {
  color: white;
  text-decoration: underline;
}

#main .links-container .link-section .container .no-display {
  display: none;
}

#main .footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #e3e8eaff;
  height: 100px;
  background-color: #49505499;
  text-align: center;
}

.modal {
  z-index: 20;
  position: fixed;
  display: none;
  top: 0;
  height: 100%;
  padding-bottom: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: clamp(600px, 80vw, 1000px);
  height: clamp(600px, 80vh, 1000px);
}

.modal .modal-container .modal-img-div {
  width: 67%;
  background-color: none;
  position: relative;
  overflow: hidden;
}

.modal .modal-container .modal-img-div .modal-img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 100%;
}

.modal .modal-container .modal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 33%;
  background-color: #121212;
  overflow: auto;
  color: #e3e8eaff;
}

.modal .modal-container .modal-text .page-title-div {
  background-color: #853d8522;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-container .modal-text .page-title-div .page-title {
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
}

.modal .modal-container .modal-text .modal-text-container {
  border-top: 1px solid #853d8588;
  border-bottom: 1px solid #853d8588;
  height: 100%;
  padding: 40px 20px;
  overflow-y: auto;
  color: #e3e8eaff;
}

.modal .modal-container .modal-text .page-description {
  white-space: pre-line;
  overflow: auto;
}

.modal .modal-container .modal-text .page-tools {
  color: #9ba8aeff;
  border-bottom: 1px solid #853d8588;
  background-color: #853d8522;
  padding: 10px 20px;
  text-align: center;
}

.modal .modal-container .modal-text .modal-bottom-container .page-link {
  margin: auto;
  background-color: #853d8588;
  margin-top: 20px;
  width: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.modal .modal-container .modal-text .modal-bottom-container .page-link a {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  color: #e3e8eaff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .modal-container .modal-text .modal-bottom-container .page-link:hover {
  background-color: #bccad0ff;
}

.modal .modal-container .modal-text .modal-bottom-container .page-link:hover a {
  color: gray;
}

.modal .modal-container .modal-text .modal-bottom-container .close-modal {
  color: #e3e8eaff;
  background-color: #853d8588;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.modal .modal-container .modal-text .modal-bottom-container .close-modal:hover {
  color: gray;
  background-color: #bccad0ff;
}

.show-modal {
  -webkit-animation: display-modal 0.5s;
          animation: display-modal 0.5s;
}

.hide-modal {
  -webkit-animation: hide-modal 0.5s;
          animation: hide-modal 0.5s;
}

@-webkit-keyframes display-modal {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes display-modal {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes hide-modal {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes hide-modal {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    place-items: center;
  }
  .modal .modal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: auto;
  }
  .modal .modal-container .modal-img-div {
    height: 67%;
    width: 100%;
    background-color: blanchedalmond;
  }
  .modal .modal-container .modal-img-div .modal-img {
    width: 100%;
  }
  .modal .modal-container .modal-text {
    height: 33%;
    width: 100%;
    background-color: sandybrown;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes wave-opacity {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes wave-opacity {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 300px;
  -webkit-transform: translateX(-240px);
          transform: translateX(-240px);
  background-color: #495054ff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 99;
}

.nav-bar:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-bar + .nav-bar-blocker {
  display: inline;
  background-color: black;
  opacity: 0.5;
}

.nav-bar-blocker {
  display: none;
  opacity: 0;
  z-index: 98;
  background-color: black;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.l-text {
  font-size: 2em;
}

.m-text {
  font-size: 1.4em;
}

.s-text {
  font-size: 0.5em;
}
/*# sourceMappingURL=style.css.map */