$text-main: #fffff1;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // available weights: 400, 600
}

#main {
  position: absolute;
  height: 100vh;
}

#name-div {
  position: relative;
  top: 60%;
  left: 33%;
}

.name-h1 {
  padding: 0 0.5em;
}
.name-h1:hover {
  color: red;
}

#name-div {
  display: flex;
  flex-flow: row nowrap;
  font-size: larger;
}
