$text-main: #fffff1;
$xl-font: 4em;
$l-font: 2em;
$m-font: 1.4em;
$s-font: 0.5em;
$heavy-font: 600;
$regular-font: 400;

$gray-1: #e3e8eaff;
$gray-2: #bccad0ff;
$gray-3: #9ba8aeff;
$gray-4: #707a7eff;
$gray-5: #495054ff;
$footer-bg-color: #49505499;
$img-hover-color: #853d8588;
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // available weights: 400, 600
}
#bg-canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  background: #333333;
}
#main {
  position: relative;
  // width: 100vw;

  #home {
    width: 100%;

    min-height: 600px;
    height: 100vh;
    display: grid;
    gap: 1rem;
    place-items: center;
    // background-color: $gray-4;
    background-color: none;
    .container {
      // padding: 0 20px 0 80px;
      max-width: 700px;
      #greeting {
        color: $gray-1;
        font-weight: $heavy-font;
      }
      #description {
        color: white;
      }
      .xl-text {
        font-size: 5em;
      }
    }
    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $gray-3;
      width: max-content;
      // padding: 5px 10px;
      a {
        color: black;
        font-size: 1.5em;
        text-decoration: none;
      }
    }
  }
  .links-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    .link-section {
      .container {
        display: flex;
        flex-flow: column;
        position: relative;
        // justify-content: center;
        align-items: center;

        .canvas-div {
          width: clamp(300px, 100%, 1000px);
          height: clamp(300px, 100%, 1000px);
          .img-container {
            transition: all 0.4s;
            display: grid;
            place-items: center;
            border: 2px solid #ffffff66;
            object-fit: contain;
            // margin: 10px;
            position: relative;
            cursor: pointer;

            &:hover {
              background-color: $gray-5;
            }
            .overlay {
              // position: absolute;
              background-color: $img-hover-color;
              position: absolute;
              height: 100%;
              width: 100%;
              opacity: 1;
              transition: 0.5s;
            }
            .hide {
              opacity: 0;
            }
            .c-img {
              // image mismo
              max-width: 100%;
              max-height: 100%;
              height: auto;
              place-self: center;
            }
          }
        }

        .portfolio-link {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: $gray-1;
          font-size: $m-font;
          font-weight: $heavy-font;
          transition: all 0.3s;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
        .no-display {
          display: none;
        }
      }
    }
  }
  .footer {
    display: grid;
    place-items: center;
    color: $gray-1;
    height: 100px;
    background-color: $footer-bg-color;
    text-align: center;
  }
}

.modal {
  z-index: 20;
  position: fixed;
  display: none;
  top: 0;
  height: 100%;
  padding-bottom: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  .modal-container {
    display: flex;
    flex-flow: row;
    width: clamp(600px, 80vw, 1000px);
    height: clamp(600px, 80vh, 1000px);

    .modal-img-div {
      width: 67%;
      background-color: none;
      position: relative;
      overflow: hidden;
      .modal-img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        height: 100%;
      }
    }
    .modal-text {
      display: flex;
      flex-flow: column;
      width: 33%;
      background-color: #121212;
      overflow: auto;
      color: $gray-1;
      .page-title-div {
        background-color: #853d8522;
        display: flex;
        justify-content: center;
        .page-title {
          font-size: 2em;
          font-weight: $heavy-font;
          padding: 10px;
        }
      }

      .modal-text-container {
        border-top: 1px solid $img-hover-color;
        border-bottom: 1px solid $img-hover-color;
        height: 100%;
        padding: 40px 20px;
        overflow-y: auto;
        color: $gray-1;
      }
      .page-description {
        white-space: pre-line;
        overflow: auto;
      }
      .page-tools {
        color: $gray-3;
        border-bottom: 1px solid $img-hover-color;
        background-color: #853d8522;
        padding: 10px 20px;
        text-align: center;
      }
      .modal-bottom-container {
        .page-link {
          margin: auto;
          background-color: $img-hover-color;
          margin-top: 20px;
          width: 200px;
          display: grid;
          place-items: center;
          color: none;

          transition: 0.3s;
          border-radius: 20px;
          a {
            text-align: center;
            padding: 10px 0;
            width: 100%;
            color: $gray-1;
            text-decoration: none;
            transition: 0.3s;
          }
        }
        .page-link:hover {
          background-color: $gray-2;
          a {
            color: gray;
          }
        }
        .close-modal {
          color: $gray-1;
          background-color: $img-hover-color;
          width: 200px;
          text-align: center;
          padding: 10px;
          margin: auto;
          margin-bottom: 20px;
          margin-top: 20px;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 20px;
        }
        .close-modal:hover {
          color: gray;
          background-color: $gray-2;
        }
      }
    }
  }
}
.show-modal {
  animation: display-modal 0.5s;
}
.hide-modal {
  animation: hide-modal 0.5s;
}

@keyframes display-modal {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide-modal {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    place-items: center;
    .modal-container {
      flex-flow: column;
      margin: auto;
      .modal-img-div {
        height: 67%;
        width: 100%;
        background-color: blanchedalmond;
        .modal-img {
          width: 100%;
        }
      }
      .modal-text {
        height: 33%;
        width: 100%;
        background-color: sandybrown;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes wave-opacity {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}
.nav-bar {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 300px;
  transform: translateX(-240px);
  background-color: $gray-5;
  transition: transform 0.5s;
  z-index: 99;

  &:hover {
    transform: translateX(0px);
  }

  + .nav-bar-blocker {
    display: inline;
    background-color: black;
    opacity: 0.5;
  }
}
.nav-bar-blocker {
  display: none;
  opacity: 0;
  z-index: 98;
  background-color: black;
  transition: opacity 0.5s;
}
// (calc (-300px - 60px)

.l-text {
  font-size: $l-font;
}

.m-text {
  font-size: $m-font;
}

.s-text {
  font-size: $s-font;
}
