* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scrollbar-color: #005b49 #ffebcd;
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

#bg-canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  background: #4e4e4e;
}

#main {
  position: relative;
}

#main section {
  min-height: 600px;
  height: 100vh;
}

#main #home {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: none;
}

#main #home .container {
  padding: 0 20px 0 80px;
  max-width: 700px;
}

#main #home .container #greeting {
  color: #e3e8eaff;
  font-weight: 600;
}

#main #home .container #description {
  color: white;
}

#main #home .container .xl-text {
  font-size: 5em;
}

#main #home .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #9ba8aeff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
}

#main #home .link-container img {
  margin: 0 5px 0 0;
}

#main #home .link-container a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

#main .link-section .container {
  height: clamp(600px, 100vh, 100vh);
  margin: 0 20px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .link-section .container .canvas-div {
  width: clamp(300px, 80%, 1000px);
  height: clamp(300px, 50%, 1000px);
}

#main .link-section .container .canvas-div .img-container {
  height: 0;
  width: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 2px solid #ffffff66;
  -o-object-fit: contain;
     object-fit: contain;
  background: #23232366;
}

#main .link-section .container .canvas-div .img-container .c-img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  place-self: center;
}

#main .link-section .container .canvas-div .give-height {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: 100%;
}

#main .link-section .container .canvas-div .give-width {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

#main .link-section .container .canvas-div .hide {
  opacity: 0;
}

#main .link-section .container .canvas-div .flicker {
  -webkit-animation: wave-opacity 2s infinite;
          animation: wave-opacity 2s infinite;
}

#main .link-section .container .portfolio-link {
  text-decoration: none;
  color: #bccad0ff;
  font-size: 2em;
  font-weight: 600;
  margin-top: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .link-section .container .portfolio-link:hover {
  color: white;
  text-decoration: underline;
}

@-webkit-keyframes wave-opacity {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes wave-opacity {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 300px;
  -webkit-transform: translateX(-240px);
          transform: translateX(-240px);
  background-color: #495054ff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 99;
}

.nav-bar:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-bar + .nav-bar-blocker {
  display: inline;
  background-color: black;
  opacity: 0.5;
}

.nav-bar-blocker {
  display: none;
  opacity: 0;
  z-index: 98;
  background-color: black;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.l-text {
  font-size: 2em;
}

.m-text {
  font-size: 1.4em;
}

.s-text {
  font-size: 0.5em;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffebcd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005b49;
  border-radius: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00362c;
}
/*# sourceMappingURL=style.css.map */