* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  overflow: hidden;
}

#main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url("pokemon-wp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

#main h1 {
  text-align: center;
  color: #bea9deff;
}

#main .game-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  gap: 5px;
  background: #0c1445ff;
  margin: 10px 0;
}

#main .game-area .square {
  background-color: #4c408eff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 90%;
}

#main .game-area .p1-hover {
  background: url("x.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8d5273ff;
  opacity: 0.5;
}

#main .game-area .p1-marker {
  background: url("x.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8d5273ff;
  opacity: 1;
}

#main .game-area .p2-hover {
  background: url("o.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8817fff;
  opacity: 0.5;
}

#main .game-area .p2-marker {
  background: url("o.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8817fff;
  opacity: 1;
}

#main .game-area .win {
  -webkit-animation: color-cycle 2s linear alternate infinite;
          animation: color-cycle 2s linear alternate infinite;
}

#main #history-nav-container {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main button {
  background: none;
  height: 50px;
  border: none;
}

#main .reset {
  color: #bea9deff;
  margin: 5px;
}

#main .reset:hover {
  border: 5px solid #0c1445ff;
  border-radius: 7px;
  padding: 7px;
}

#main .settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main .settings-container input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#main .settings-container label {
  margin-left: 10px;
  height: 35px;
  width: 35px;
}

#battle-intro-div {
  height: 100vh;
  position: absolute;
  float: top;
  background: none;
  z-index: 99;
}

#battle-intro-div .blocker {
  background-color: black;
}

#battle-intro-div #upper-b {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 50vh;
  background-image: url("x.svg");
  background-position-x: 50%;
  background-position-y: calc(100% + 130px);
  background-repeat: no-repeat;
  -webkit-animation: upper-intro1 3s forwards;
          animation: upper-intro1 3s forwards;
}

#battle-intro-div #lower-b {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 50vh;
  background-position-x: 50%;
  background-position-y: calc(0% - 130px);
  background-repeat: no-repeat;
  -webkit-animation: lower-intro1 3s forwards;
          animation: lower-intro1 3s forwards;
}

.text-prompt {
  border: 7px solid #0c1445ff;
  background: #e3e2c4ff;
  border-radius: 5px;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  min-height: 100px;
  font-size: 1.5em;
  position: absolute;
  bottom: 0px;
}

.no-ptr-events {
  pointer-events: none;
}

.hide {
  display: none;
}

@-webkit-keyframes upper-intro1 {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
    background-image: url("o.svg");
  }
}

@keyframes upper-intro1 {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
    background-image: url("o.svg");
  }
}

@-webkit-keyframes lower-intro1 {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    background-image: url("o.svg");
  }
}

@keyframes lower-intro1 {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    background-image: url("o.svg");
  }
}

@-webkit-keyframes color-cycle {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #9ea9edff;
  }
  100% {
    background-color: inherit;
  }
}

@keyframes color-cycle {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #9ea9edff;
  }
  100% {
    background-color: inherit;
  }
}
/*# sourceMappingURL=style.css.map */