* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}
$border-color: #0c1445ff;
$square-color: #4c408eff;
$grid-gap: 5px;
$p1-color: #8d5273ff;
$p2-color: #e8817fff;
$dark-text-color: #311f62ff;
$light-text-color: #bea9deff;
$prompt-bg-color: #e3e2c4ff;
$win-bg-color: #9ea9edff;
// $prompt-border-color: #0c1445ff;

@mixin mark($img) {
  background: $img;
  // filter: invert(1);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  overflow: hidden;
}
#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: url("pokemon-wp.jpg");
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 100px;
  h1 {
    text-align: center;
    color: $light-text-color;
  }

  .game-area {
    max-width: 500px;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: $grid-gap;
    background: $border-color;
    margin: 10px 0;

    .square {
      background-color: $square-color;
      display: grid;
      place-items: center;
      font-size: 90%;
    }

    .p1-hover {
      @include mark(url("x.svg"));
      background-color: $p1-color;
      opacity: 0.5;
    }
    .p1-marker {
      @include mark(url("x.svg"));
      background-color: $p1-color;
      opacity: 1;
    }

    .p2-hover {
      @include mark(url("o.svg"));
      background-color: $p2-color;
      opacity: 0.5;
    }
    .p2-marker {
      @include mark(url("o.svg"));
      background-color: $p2-color;
      opacity: 1;
    }

    .win {
      animation: color-cycle 2s linear alternate infinite;
    }
  }
  #history-nav-container {
    width: 300px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  button {
    background: none;
    height: 50px;
    border: none;
  }
  .reset {
    color: $light-text-color;
    margin: 5px;
    &:hover {
      border: 5px solid $border-color;
      border-radius: 7px;
      padding: 7px;
    }
  }
  .settings-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
    // width: 100px;
    input[type="checkbox"] {
      appearance: none;
    }
    label {
      margin-left: 10px;
      height: 35px;
      width: 35px;
    }
  }
}

#battle-intro-div {
  height: 100vh;
  position: absolute;
  float: top;
  background: none;
  z-index: 99;
  .blocker {
    background-color: black;
  }
  #upper-b {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 50vh;
    background-image: url("x.svg");
    background-position-x: 50%;
    background-position-y: calc(100% + 130px);
    background-repeat: no-repeat;

    animation: upper-intro1 3s forwards;
  }
  #lower-b {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 50vh;

    background-position-x: 50%;
    background-position-y: calc(0% - 130px);
    background-repeat: no-repeat;

    animation: lower-intro1 3s forwards;
  }
}

.text-prompt {
  border: 7px solid $border-color;
  background: $prompt-bg-color;
  border-radius: 5px;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  min-height: 100px;
  font-size: 1.5em;
  position: absolute;
  bottom: 0px;
}

.no-ptr-events {
  pointer-events: none;
}

.hide {
  display: none;
}

@keyframes upper-intro1 {
  0% {
    filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    transform: translateY(0);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: translateY(0 - 50vh);
    background-image: url("o.svg");
  }
}
@keyframes lower-intro1 {
  0% {
    filter: hue-rotate(0);
    background-image: url("x.svg");
  }
  50% {
    filter: hue-rotate(180deg);
    background-image: url("x.svg");
  }
  75% {
    background-image: url("o.svg");
    transform: translateY(0);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: translateY(0 + 50vh);
    background-image: url("o.svg");
  }
}

@keyframes color-cycle {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: $win-bg-color;
  }
  100% {
    background-color: inherit;
  }
}

@media (max-width: 600px) {
  .text-prompt {
    font-size: 1em;
  }
}
